.button {
    -fx-background-color: #0078D7;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
    -fx-padding: 8px 16px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 4, 0.2, 2, 2);
    -fx-font-size: 13px;
}

.button:hover {
    -fx-background-color: #005fa3;
}

.button:pressed {
    -fx-background-color: #004a87;
}



.button2 {
    -fx-background-color: #d70000;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
    -fx-padding: 8px 16px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 4, 0.2, 2, 2);
    -fx-font-size: 13px;
}

.button2:hover {
    -fx-background-color: #a30000;
}

.button2:pressed {
    -fx-background-color: #870000;
}